    body {
/*    background-image: url(images/body.jpg) !important;*/
    background-color:white !important;
    }
    div.updated, .login .message, .press-this #message {
    border-left: 4px solid #FF6600 !important;
    }
     
    h1 a{
    background: url(../images/admin-logo.png) no-repeat !important;
    width: 320px !important;
    height: 80px !important;
    }
     
    #backtoblog {
    background-color: #5A5A5A;
    box-shadow: 0 1px 3px #666;
    left: 0;
    margin: 0 !important;
    padding: 10px !important;
    position: fixed;
    text-align: left;
    text-shadow: 0 0 0 !important;
    top: 0;
    width: 100%;
    }
     
    .login #backtoblog a {
    color: #FFFFFF !important;
    }
